{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Password Manager Application</h1>
        <div class="nav-container">
            <a href="{{ url_for('guidelines') }}" class="nav"><h2>Guidelines</h2></a>
            <a href="{{ url_for('creator') }}" class="nav"><h2>Creator</h2></a>
            <a href="{{ url_for('tester') }}" class="nav"><h2>Tester</h2></a>
            <a href="{{ url_for('user_passwords') }}" class="nav"><h2>User_Passwords</h2></a>
        </div>
    </div>
{% endblock %}